.selector-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.selector-box select {
  width: 100%;
  padding: 12px;
  border: 2px solid #00a8a8;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

.rec-textarea {
  width: 100%;
  height: 90px;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid #ccc;
  resize: none;
  outline: none;
}

.rec-send-btn {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #00a8a8;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.rec-send-btn:hover {
  background: #008080;
}
